body{
    padding: 100px;
    
}
.submit-area{
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
#transaction-area{
    display: none;
}
.deposit{
    background-color: slateblue;

}
.withdraw{
    background-color: lightsalmon;
    margin: 0 10px;
}
.balance{
    background-color: orange;
    margin: 0 10px;
}
.stile{
    margin: 0 10px;
    padding: 50px;
    border-radius: 5px;
    color: aliceblue;
}
.gap{
    margin: 0 10px;
}